<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>株式会社エンタテインメントビジネス総合研究所</title>
		<meta name="keywords" content="エンタテインメントビジネス総合研究所,エンビズ総研,研修,セミナー,人材育成,パチンコ,パチスロ,スロット,コンサルティング,シンクタンク,カジノ,書籍,経営支援,計数,駅別">
		<meta name="description" content="エンタテインメントビジネス総合研究所は、パチンコ業界の調査・パチンコ店コンサルティング・パチンコ店人材育成・パチンコ店向けセミナー開催、パチンコ専門書籍の企画・出版、カジノ事業など、業界に関する事業を行なっております。">
		<!------------------------------------------------ html_head --> 
		<!--#include virtual="/common/inc/html_head.html" --> 
		<!------------------------------------------------ /html_head -->
		<script src="/common/js/ajaxzip3.js" charset="UTF-8"></script>
	</head>

	<body id="template">
		<div id="fb-root"></div>
		<script>(function(d, s, id) {
		  var js, fjs = d.getElementsByTagName(s)[0];
		  if (d.getElementById(id)) return;
		  js = d.createElement(s); js.id = id;
		  js.src = "//connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v2.0";
		  fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));</script>
		<div id="wrap">
		
			<!------------------------------------------------ header --> 
			<!--#include virtual="/common/inc/header.html" --> 
			<!------------------------------------------------ /header -->
		
			<div id="contents">
				
				<div id="ttl_category">
					<div class="midashi01">セミナー・研修・講演</div>
				</div>
				
				<nav id="pankuzu">
					<ul>
						<li><a href="/">HOME</a>&nbsp;&gt;&nbsp;</li>
						<li>サンプルテンプレート</li>
					</ul>
				</nav>
				
				<div class="inner">
					<div id="main">
						<h1>サンプルテンプレート</h1>
						
						<h1>サンプルテンプレート</h1>
						<p class="lead">リード文です。このテキストはダミーテキストです。class="lead"</p>
						<p>このテキストはダミーテキストです。どの要素にスタイルが当たっているか等が一通りチェック出来るような感じになっています。 この部分は段落、つまり paragraph です。</p>
						<p>このテキストはダミーテキストです。どの要素にスタイルが当たっているか等が一通りチェック出来るような感じになっています。この部分は段落、つまり paragraph です。このテキストはダミーテキストです。どの要素にスタイルが当たっているか等が一通りチェック出来るような感じになっています。この部分は段落、つまり paragraph です。</p>
						<h2><span>小見出しです。</span></h2>
						<p class="lead">リード文です。このテキストはダミーテキストです。class="lead"</p>
						<p>このテキストはダミーテキストです。どの要素にスタイルが当たっているか等が一通りチェック出来るような感じになっています。 この部分は段落、つまり paragraph です。</p>
						<p>このテキストはダミーテキストです。どの要素にスタイルが当たっているか等が一通りチェック出来るような感じになっています。この部分は段落、つまり paragraph です。このテキストはダミーテキストです。どの要素にスタイルが当たっているか等が一通りチェック出来るような感じになっています。この部分は段落、つまり paragraph です。</p>
						<h3>小見出しです。</h3>
						<p class="lead">リード文です。このテキストはダミーテキストです。class="lead"</p>
						<p>このテキストはダミーテキストです。どの要素にスタイルが当たっているか等が一通りチェック出来るような感じになっています。 この部分は段落、つまり paragraph です。</p>
						<p>このテキストはダミーテキストです。どの要素にスタイルが当たっているか等が一通りチェック出来るような感じになっています。この部分は段落、つまり paragraph です。このテキストはダミーテキストです。どの要素にスタイルが当たっているか等が一通りチェック出来るような感じになっています。この部分は段落、つまり paragraph です。</p>
						<h4>小見出しです。</h4>
						<p class="lead">リード文です。このテキストはダミーテキストです。class="lead"</p>
						<p>このテキストはダミーテキストです。どの要素にスタイルが当たっているか等が一通りチェック出来るような感じになっています。 この部分は段落、つまり paragraph です。</p>
						<p>このテキストはダミーテキストです。どの要素にスタイルが当たっているか等が一通りチェック出来るような感じになっています。この部分は段落、つまり paragraph です。このテキストはダミーテキストです。どの要素にスタイルが当たっているか等が一通りチェック出来るような感じになっています。この部分は段落、つまり paragraph です。</p>
						<h5>小見出しです。</h5>
						<p>このテキストはダミーテキストです。どの要素にスタイルが当たっているか等が一通りチェック出来るような感じになっています。 この部分は段落、つまり paragraph です。</p>
						<p>このテキストはダミーテキストです。どの要素にスタイルが当たっているか等が一通りチェック出来るような感じになっています。この部分は段落、つまり paragraph です。このテキストはダミーテキストです。どの要素にスタイルが当たっているか等が一通りチェック出来るような感じになっています。この部分は段落、つまり paragraph です。</p>
						<div class="midashi03"><span>画像の右寄せ/左寄せ</span></div>
						<div class="midashi04">右寄せサンプル</div>
						<p><img src="http://placehold.jp/220x140.png" alt="" class="img_right"> このテキストはダミーテキストです。どの要素にスタイルが当たっているか等が一通りチェック出来るような感じになっています。この部分は段落、つまり paragraph です。このテキストはダミーテキストです。どの要素にスタイルが当たっているか等が一通りチェック出来るような感じになっています。この部分は段落、つまり paragraph です。</p>
						<div class="midashi04">左寄せサンプル</div>
						<p><img src="http://placehold.jp/220x140.png" alt="" class="img_left"> このテキストはダミーテキストです。どの要素にスタイルが当たっているか等が一通りチェック出来るような感じになっています。この部分は段落、つまり paragraph です。このテキストはダミーテキストです。どの要素にスタイルが当たっているか等が一通りチェック出来るような感じになっています。この部分は段落、つまり paragraph です。</p>
						<div class="midashi03"><span>画像の右寄せ/左寄せ（キャプションあり）</span></div>
						<div class="midashi04">右寄せサンプル</div>
						<p> <span class="img_right cap_block"> <img src="http://placehold.jp/220x140.png" alt="" class="lazyload"> <span class="cap">ああああああああああ</span> </span> このテキストはダミーテキストです。どの要素にスタイルが当たっているか等が一通りチェック出来るような感じになっています。この部分は段落、つまり paragraph です。このテキストはダミーテキストです。どの要素にスタイルが当たっているか等が一通りチェック出来るような感じになっています。この部分は段落、つまり paragraph です。 </p>
						<div class="midashi04">左寄せサンプル</div>
						<p> <span class="img_left cap_block"> <img src="http://placehold.jp/220x140.png" alt="" class="lazyload"> <span class="cap">ああああああああああ</span> </span> このテキストはダミーテキストです。どの要素にスタイルが当たっているか等が一通りチェック出来るような感じになっています。この部分は段落、つまり paragraph です。このテキストはダミーテキストです。どの要素にスタイルが当たっているか等が一通りチェック出来るような感じになっています。この部分は段落、つまり paragraph です。</p>
						<div class="midashi03"><span>画像の横並びスタイル</span></div>
						<div class="midashi04">2ブロック : class="layout_block02"</div>
						<div class="layout_block02">
							<div class="block"> <img src="http://placehold.jp/330x200.png" alt="" class="lazyload">
								<p>画像の横幅は330pxです。このテキストはダミーです。</p>
							</div>
							<div class="block"> <img src="http://placehold.jp/330x200.png" alt="" class="lazyload">
								<p>画像の横幅は330pxです。このテキストはダミーです。</p>
							</div>
						</div>
						<div class="layout_block02">
							<div class="block"> <span class="cap_block"> <img src="http://placehold.jp/330x200.png" alt="" class="lazyload"> <span class="cap">ああああああああああ</span> </span>
								<p>画像の横幅は330pxです。このテキストはダミーです。</p>
							</div>
							<div class="block"> <span class="cap_block"> <img src="http://placehold.jp/330x200.png" alt="" class="lazyload"> <span class="cap">ああああああああああ</span> </span>
								<p>画像の横幅は330pxです。このテキストはダミーです。</p>
							</div>
						</div>
						<div class="midashi04">3ブロック : class="layout_block03"</div>
						<div class="layout_block03">
							<div class="block"> <img src="http://placehold.jp/220x140.png" alt="" class="lazyload">
								<p>画像の横幅は220pxです。このテキストはダミーです。</p>
							</div>
							<div class="block"> <img src="http://placehold.jp/220x140.png" alt="" class="lazyload">
								<p>画像の横幅は220pxです。このテキストはダミーです。</p>
							</div>
							<div class="block"> <img src="http://placehold.jp/220x140.png" alt="" class="lazyload">
								<p>画像の横幅は220pxです。このテキストはダミーです。</p>
							</div>
						</div>
						<div class="midashi03"><span>基本設定</span></div>
						<div class="midashi04">タイトルスタイル小見出しです。div class="midashi04"です。</div>
						<div class="midashi05">小見出しです。div class="midashi05"です。</div>
						<div class="midashi06">小見出しです。div class="midashi06"です。</div>
						<div class="midashi04">基本的なスタイル</div>
						<div class="midashi05">強調文字</div>
						<p>このテキストはダミーテキストです。<strong>強調表示 strong</strong>どの要素にスタイルが当たっているか等が一通りチェック出来るような感じになっています。<br>
							この部分は段落、つまり paragraph です。<em>強調表示 em</em>このテキストはダミーテキストです。</p>
						<p>このテキストはダミーテキストです。<strong>強調表示 strong</strong>どの要素にスタイルが当たっているか等が一通りチェック出来るような感じになっています。<br>
							この部分は段落、つまり paragraph です。<em>強調表示 em</em>このテキストはダミーテキストです。</p>
						<p>このテキストはダミーテキストです。<strong>強調表示 strong</strong>どの要素にスタイルが当たっているか等が一通りチェック出来るような感じになっています。<br>
							この部分は段落、つまり paragraph です。<em>強調表示 em</em>このテキストはダミーテキストです。</p>
						<div class="midashi05">テーブル設定</div>
						<table>
							<thead>
								<tr>
									<th>見出し</th>
									<th>見出し</th>
									<th class="alignC">見出し中央寄せ<br>
										<em>class="alignC"</em></th>
									<th class="alignR">見出し右寄せ<br>
										<em>class="alignR"</em></th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<th>見出し1-1</th>
									<td>左寄せ<br>
										class指定なし</td>
									<td class="alignC">中央寄せ<br>
										<em>class="alignC"</em></td>
									<td class="alignR">右寄せ<br>
										<em>class="alignR"</em></td>
								</tr>
								<tr>
									<th>見出し1-1</th>
									<td>左寄せ<br>
										class指定なし</td>
									<td class="alignC">中央寄せ<br>
										<em>class="alignC"</em></td>
									<td class="alignR">右寄せ<br>
										<em>class="alignR"</em></td>
								</tr>
								<tr>
									<th>見出し1-1</th>
									<td>左寄せ<br>
										class指定なし</td>
									<td class="alignC">中央寄せ<br>
										<em>class="alignC"</em></td>
									<td class="alignR">右寄せ<br>
										<em>class="alignR"</em></td>
								</tr>
							</tbody>
						</table>
						<div class="midashi06">2カラムのテーブル（table class="table2col"）</div>
						<table class="table2col">
							<tr>
								<th class="th01">見出し class="th01"</th>
								<td>このテキストはダミーテキストです。どの要素にスタイルが当たっているか等が一通りチェック出来るような感じになっています。このテキストはダミーテキストです。どの要素にスタイルが当たっているか等が一通りチェック出来るような感じになっています。</td>
							</tr>
							<tr>
								<th>見出し class指定なし</th>
								<td>このテキストはダミーテキストです。どの要素にスタイルが当たっているか等が一通りチェック出来るような感じになっています。</td>
							</tr>
						</table>
						<div class="midashi06">横長のテーブル（table class="tablewide"）</div>
						<table class="tablewide">
							<thead>
								<tr>
									<th>見出し</th>
									<th>見出し</th>
									<th>見出し</th>
									<th>見出し</th>
									<th>見出し</th>
									<th>見出し</th>
									<th>見出し</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<th>見出し1-1</th>
									<td>内容</td>
									<td>内容</td>
									<td>内容</td>
									<td>内容</td>
									<td>内容</td>
									<td>内容</td>
								</tr>
								<tr>
									<th>見出し1-1</th>
									<td>内容</td>
									<td>内容</td>
									<td>内容</td>
									<td>内容</td>
									<td>内容</td>
									<td>内容</td>
								</tr>
								<tr>
									<th>見出し1-1</th>
									<td>内容</td>
									<td>内容</td>
									<td>内容</td>
									<td>内容</td>
									<td>内容</td>
									<td>内容</td>
								</tr>
								<tr>
									<th>見出し1-1</th>
									<td>内容</td>
									<td>内容</td>
									<td>内容</td>
									<td>内容</td>
									<td>内容</td>
									<td>内容</td>
								</tr>
								<tr>
									<th>見出し1-1</th>
									<td>内容</td>
									<td>内容</td>
									<td>内容</td>
									<td>内容</td>
									<td>内容</td>
									<td>内容</td>
								</tr>
							</tbody>
						</table>
						<div class="midashi06">リスト風のテーブル（table class="tablelist"）</div>
						<table class="tablelist">
							<tr>
								<th class="th01">見出し class="th01"</th>
								<td>内容</td>
								<td>内容</td>
								<td>内容</td>
								<td>内容</td>
							</tr>
							<tr>
								<th>見出し class指定なし</th>
								<td>内容</td>
								<td>内容</td>
								<td>内容</td>
								<td>内容</td>
							</tr>
						</table>
						<div class="midashi05">リスト設定</div>
						<ol class="listB01">
							<li><em>class="listB01"</em><br>
								順序が付いているリスト、つまり ol要素です。</li>
							<li>順序が付いているリストです。</li>
							<li>順序が付いているリストです。</li>
							<li>順序が付いているリストです。</li>
						</ol>
						<ul class="listA01">
							<li><em>class="listA01"</em><br>
								ここは並列列挙リストです。つまり ul要素です。</li>
							<li>ここは並列列挙リストです。ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト</li>
							<li>ここは並列列挙リストです。</li>
							<li>ここは並列列挙リストです。</li>
							<li>ここは並列列挙リストです。</li>
						</ul>
						<ul class="linklistA01">
							<li><a href="#"><em>class="linklistA01"</em><br>
								リストにリンクがある場合です。</a></li>
							<li><a href="#">リストにリンクがある場合です。</a></li>
							<li><a href="#">リストにリンクがある場合です。</a></li>
							<li><a href="http://www.example.com/" target="_blank">ここは外部リンクです</a></li>
						</ul>
						<dl>
							<dt> 定義リストのタイトル </dt>
							<dd> 内容ないようナイヨウ。内容ないようナイヨウ。内容ないようナイヨウ。内容ないようナイヨウ。内容ないようナイヨウ。 </dd>
							<dt> 定義リストのタイトル </dt>
							<dd> 内容ないようナイヨウ。内容ないようナイヨウ。内容ないようナイヨウ。内容ないようナイヨウ。内容ないようナイヨウ。 </dd>
						</dl>
						<div class="midashi05">テキストリンク</div>
						<p>このテキストはダミーテキストです。どの要素にスタイルが当たっているか等が一通りチェック出来るような感じになっています。この部分は段落、つまり paragraph です。テキストに<a href="#">リンクを張った</a>場合はこんな感じ。こっちは<a href="http://www.example.com/" target="_blank">外部リンク</a>です。</p>
						<div class="midashi05">ボタンスタイル</div>
						<div class="midashi06">左寄せボタンスタイル：class="btn_left"</div>
						<p>このテキストはダミーテキストです。どの要素にスタイルが当たっているか等が一通りチェック出来るような感じになっています。この部分は段落、つまり paragraph です。</p>
						<p class="btn_left"><a href="#">ボタンスタイル</a></p>
						<div class="midashi06">右寄せボタンスタイル：class="btn_right"</div>
						<p>このテキストはダミーテキストです。どの要素にスタイルが当たっているか等が一通りチェック出来るような感じになっています。この部分は段落、つまり paragraph です。</p>
						<p class="btn_right"><a href="#">ボタンスタイル</a></p>
						<div class="midashi06">中央配置ボタンスタイル：class="btn_center"</div>
						<p>このテキストはダミーテキストです。どの要素にスタイルが当たっているか等が一通りチェック出来るような感じになっています。この部分は段落、つまり paragraph です。</p>
						<p class="btn_center"><a href="#">ボタンスタイル</a></p>
						<div class="midashi02">アコーディオン</div>
						<div class="midashi03"><span>サンプル</span></div>
						<dl class="accordion">
							<dt> ダミーテキスト </dt>
							<dd>
								<p>ああああああああああああああああああああああああああああああああ</p>
							</dd>
							<dt> ダミーテキスト </dt>
							<dd>
								<table>
									<thead>
										<tr>
											<th>見出し</th>
											<th>見出し</th>
											<th class="alignC">見出し中央寄せ<br>
												【class=&quot;alignC&quot;】</th>
											<th class="alignR">見出し右寄せ<br>
												【class=&quot;alignR&quot;】</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<th>見出し1-1</th>
											<td>左寄せ<br>
												（class指定なし）</td>
											<td class="alignC">中央寄せ<br>
												【class=&quot;alignC&quot;】</td>
											<td class="alignR">右寄せ<br>
												【class=&quot;alignR&quot;】</td>
										</tr>
										<tr>
											<th>見出し1-1</th>
											<td>左寄せ<br>
												（class指定なし）</td>
											<td class="alignC">中央寄せ<br>
												【class=&quot;alignC&quot;】</td>
											<td class="alignR">右寄せ<br>
												【class=&quot;alignR&quot;】</td>
										</tr>
										<tr>
											<th>見出し1-1</th>
											<td>左寄せ<br>
												（class指定なし）</td>
											<td class="alignC">中央寄せ<br>
												【class=&quot;alignC&quot;】</td>
											<td class="alignR">右寄せ<br>
												【class=&quot;alignR&quot;】</td>
										</tr>
									</tbody>
								</table>
							</dd>
							<dt> ダミーテキスト </dt>
							<dd>
								<ul class="listA01">
									<li>ここは並列列挙リストです。【class=&quot;listA01&quot;】</li>
									<li>ここは並列列挙リストです。ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト</li>
									<li>ここは並列列挙リストです。</li>
									<li>ここは並列列挙リストです。</li>
									<li>ここは並列列挙リストです。</li>
								</ul>
							</dd>
						</dl>
						
						<div class="midashi02">フォーム</div>
						<div class="midashi03"><span>フォームパーツ</span></div>
						<form id="form1" name="form1" method="post" action="#">
							<table class="table2col tableform">
								<tr>
									<th class="th01">テキストボックス</th>
									<td>
										<span>小：</span><input type="text" class="tbox_s" name="tbox_s" value="テキストボックス"><br>
										<span>中：</span><input type="text" class="tbox_m" name="tbox_m" value="テキストボックステキストボックス"><br>
										<span>大：</span><input type="text" class="tbox_l" name="tbox_l" value="テキストボックステキストボックス"><br>
										<span>パスワード：</span><input type="password" name="password" value="password" size="20"><br>
										<!--E-mail：<input type="email" name="email"><br>
										電話番号：<input type="tel" name="tel">-->
									</td>
								</tr>
								<tr>
									<th class="th01">テキストエリア</th>
									<td><textarea cols="30" rows="5" name="textarea">複数行の
テキスト入力欄</textarea>
									</td>
								</tr>
								<tr>
									<th class="th01">住所</th>
									<td>
										〒 <input type="text" name="zip01" size="15" maxlength="8" onKeyUp="AjaxZip3.zip2addr(this,'','addr11','addr11');">
										<p><input type="text" name="addr11" size="30"></p>
									</td>
								</tr>
								<tr>
									<th class="th01">ラジオボタン</th>
									<td>
										<ul class="list_radio">
											<li>
												<input type="radio" name="RadioGroup1" value="ラジオ" id="RadioGroup1_0" checked="checked">
												<label for="RadioGroup1_0">ラジオ</label>
											</li>
											<li>
												<input type="radio" name="RadioGroup1" value="ラジオ" id="RadioGroup1_1">
												<label for="RadioGroup1_1">ラジオ</label>
											</li>
											<li>
												<input type="radio" name="RadioGroup1" value="ラジオ" id="RadioGroup1_2">
												<label for="RadioGroup1_2">ラジオ</label>
											</li>
											<li>
												<input type="radio" name="RadioGroup1" value="ラジオ" id="RadioGroup1_3">
												<label for="RadioGroup1_3">ラジオ</label>
											</li>
										</ul>
									</td>
								</tr>
								<tr>
									<th class="th01">チェックボタン</th>
									<td>
										<ul class="list_check">
											<li>
												<input type="checkbox" name="CheckboxGroup1" value="チェックボックス" id="CheckboxGroup1_0">
												<label for="CheckboxGroup1_0">チェックボックス</label>
											</li>
											<li>
												<input type="checkbox" name="CheckboxGroup1" value="チェックボックス" id="CheckboxGroup1_1">
												<label for="CheckboxGroup1_1">チェックボックス</label>
											</li>
											<li>
												<input type="checkbox" name="CheckboxGroup1" value="チェックボックス" id="CheckboxGroup1_2">
												<label for="CheckboxGroup1_2">チェックボックス</label>
											</li>
										</ul>
									</td>
								</tr>
								<tr>
									<th class="th01">セレクトボックス<br>（プルダウン形式）</th>
									<td>
										<select name="select1" class="sel_pul">
											<option value="val1">セレクトAその1</option>
											<option value="val2">セレクトAその2</option>
											<option value="val3">セレクトAその3</option>
											<option value="val4">セレクトAその4</option>
											<option value="val5">セレクトAその5</option>
										</select>
										<p>（プルダウン形式）</p>
									</td>
								</tr>
								<tr>
									<th class="th01">セレクトボックス<br>（リスト形式）</th>
									<td>
										<select name="select2" size="5" class="sel_list">
											<option value="val1">セレクトBその1</option>
											<option value="val2">セレクトBその2</option>
											<option value="val3">セレクトBその3</option>
											<option value="val4">セレクトBその4</option>
											<option value="val5">セレクトBその5</option>
										</select>
										<p>（リスト形式）</p>
									</td>
								</tr>
								<tr>
									<th class="th01">ファイル選択</th>
									<td>
										<div class="box_file">
											<p>ファイルを選択</p>
											<input type="file" name="file" size="30">
										</div>
									</td>
								</tr>
								<tr>
									<th class="th01">エラー表示</th>
									<td>
										<input type="text">
										<p class="err">※お名前を入力してください。</p>
									</td>
								</tr>
							</table>
							
							<div class="btn_form">
								<ul>
									<li><button><span>確認画面へ</span></button></li>
									<li><button><span>送信する</span></button></li>
								</ul>
							</div>
							<!-- /.btn_form -->
		
							<div class="btn_form">
								<ul>
									<li><button class="btn_gray"><span>リセット</span></button></li>
									<li><button class="btn_gray"><span>修正する</span></button></li>
								</ul>
							</div>
							<!-- /.btn_form -->
						</form>
						
					</div>
					<!-- /#main -->
					
					<aside id="side"> 
					
						<!------------------------------------------------ snavi_seminar --> 
						<!--#include virtual="/common/inc/snavi_seminar.html" --> 
						<!------------------------------------------------ /snavi_seminar --> 

						<!------------------------------------------------ sub --> 
						<!--#include virtual="/common/inc/sub.html" --> 
						<!------------------------------------------------ /sub --> 

						<!------------------------------------------------ sp_sub --> 
						<!--#include virtual="/common/inc/sp_sub.html" --> 
						<!------------------------------------------------ /sp_sub --> 

					</aside>
					<!-- /#side -->
				</div>
				<!-- /.inner -->
			</div>
			<!-- /#contents -->
			
			<!------------------------------------------------ footer --> 
			<!--#include virtual="/common/inc/footer.html" --> 
			<!------------------------------------------------ /footer --> 
		</div>
		<!-- /#wrap -->
				
		<!------------------------------------------------ pc_gotop --> 
		<!--#include virtual="/common/inc/pc_gotop.html" --> 
		<!------------------------------------------------ /pc_gotop --> 		
			
		<!------------------------------------------------ sp_navigation --> 
		<!--#include virtual="/common/inc/sp_navigation.html" --> 
		<!------------------------------------------------ /sp_navigation --> 		
	</body>
	
	</body>
</html>
