@charset "utf-8";
/* ============================================================ */
/* .contact-flow */
/* ============================================================ */
.contact-flow {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 100%;
}

.contact-flow__list {
	position: relative;
	width: calc(100% / 3);
}

.contact-flow._col2_ .contact-flow .contact-flow__list,
.contact-flow._col2_ .contact-flow__list {
	width: calc(100% / 2);
	position: relative;
}

.contact-flow._col4_ .contact-flow .contact-flow__list ,
.contact-flow._col4_ .contact-flow__list {
	width: calc(100% / 4);
	position: relative;
}

.contact-flow__list::after {
	position: absolute;
	transform: translate(0, -50%);
	display: inline-block;
	content: "";
	background: url("/common/img/common/ico_arrow_contact_sp02.svg");
	background-size: cover;
	width: 17px;
	height: 16px;
	top: 40%;
	right: -8px;
}

._col3_ .contact-flow .contact-flow__list::after {
	background: url("/common/img/common/ico_arrow_contact_sp.svg");
	background-size: cover;
	width: 32px;
	height: 32px;
	top: 45%;
	right: -15px;
}

.contact-flow__list:last-of-type::after {
	display: none;
}

.contact-flow__list._on_::after {
	background: url("/common/img/common/ico_arrow_contact_blue_sp.svg");
	background-size: cover;
}

.contact-flow__list._off_::after {
	background: url("/common/img/common/ico_arrow_contact_gray_sp.svg");
	background-size: cover;
}

.contents__flow._members_ .contact-flow__list._on_::after {
	background: url("/common/img/common/ico_arrow_contact_gray_sp02.svg");
	background-size: cover;
}

._col3_ .contact-flow .contact-flow__list._on_::after {
	background: url("/common/img/common/ico_arrow_contact_blue_sp02.svg");
	background-size: cover;
	width: 32px;
	height: 32px;
	top: 45%;
	right: -15px;
}

._col3_ .contact-flow .contact-flow__list._off_::after {
	background: url("/common/img/common/ico_arrow_contact_gray_sp02.svg");
	background-size: cover;
	width: 32px;
	height: 32px;
	top: 45%;
	right: -15px;
}

/*.contents__flow._invitation_ .contact-flow__list._on_:after {
	background: url("/common/img/common/ico_arrow_contact_blue_sp02.svg");
	width: 32px;
	height: 32px;
	top: 45%;
	right: -15px;
}*/

.contents__flow._members_ .contact-flow__list._on_::after {
	background: url("/common/img/common/ico_arrow_contact_black_sp.svg");
}
/*
.contents__flow._invitation_ .contact-flow__list._off_:after {
	background: url("/common/img/common/ico_arrow_contact_gray_sp02.svg");
	width: 32px;
	height: 32px;
	top: 45%;
	right: -15px;
}*/

.contact-flow__list._on_ .contact-flow__number {
	background: #2C4660;
	color: #fff;
	border: 1px solid #2C4660;
}

.contents__flow._members_ .contact-flow__list._on_ .contact-flow__number {
	background: #333;
	color: #fff;
	border: 1px solid #333;
}

.contents__flow._blue_ .contact-flow__list._on_ .contact-flow__number {
	background: #004DB6;
	color: #fff;
	border: 1px solid #004DB6;
}

.contact-flow__list._off_ .contact-flow__number {
	background: #666;
	color: #fff;
	border: 1px solid #666;
}

.contact-flow__number {
	background: #fff;
	color: #D0D0D0;
	border: 1px solid #D0D0D0;
	border-radius: 100%;
	width: 50px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	margin: 0 auto 5px;
	line-height: 1.0;
	font-weight: bold;
}

.contact-flow__number__step {
	font-size: 1.0rem;
	margin: 0 0 5px;
}

.contact-flow__number__txt {
	font-size: 2.0rem;
	font-weight: bold;
}

.contact-flow__detail {
	font-weight: bold;
	color: #bbb;
	font-size: 1.0rem;
}

.contact-flow__list._on_ .contact-flow__detail {
	color: #2C4660;
}

.contents__flow._members_ .contact-flow__list._on_ .contact-flow__detail {
	color: #333;
}

.contents__flow._blue_ .contact-flow__list._on_ .contact-flow__detail {
	color: #004DB6;
}

.contact-flow__list._off_ .contact-flow__detail {
	color: #666;
}


/* ============================================================ 
/* .transceiver */
/* ============================================================ */
.transceiver-send__info {
	margin: 0 0 15px !important;
}

