@charset "utf-8";
/* ============================================================ */
/* 基本設定 */
/* ============================================================ */
html {
	font-size: 62.5%;
}

body {
	color: #333;
	font-family: "Inter", sans-serif;
	font-weight: normal;
	line-height: 1.8;
	text-align: center;
	-webkit-text-size-adjust: none;
}


body.show {
	overflow-y: hidden;
	height: 100%;
}

.emoji {
	font-family: apple color emoji,segoe ui emoji,noto color emoji,android emoji,emojisymbols,emojione mozilla,twemoji mozilla,segoe ui symbol;
}

.moji {
	font-family: Arial, Helvetica, 'sans-serif';
}

.noto {
	font-family: Noto Sans JP, 'sans-serif';
}

.wrapper {
	font-size: 1.6rem;
	position: relative;
	background: #F4F4F4;
	z-index: 1;
}

.wrapper._gray_ {
	background: #535353;
}

.wrapper._blue_ {
	background: #c7ddea;
}

.wrapper._white_ {
	background: #fff;
}

.sp_view {
	display: none !important;
}


/* ============================================================ */
/* リンク設定 */
/* ============================================================ */
a {
	text-decoration: underline;
	color: #0067B3;
}

/*a:hover {
	text-decoration: none;
}*/

a:hover img {
	filter:alpha(opacity=70);
	-moz-opacity:0.7;
	opacity:0.7;
}

a._lightblue_ {
	color: #0AC;
	text-decoration: none;
}

/* テキストスタイル
------------------------------------------------------------ */
.txt_bold {
	font-weight: bold !important;
}

.txt_medium {
	font-weight: 500 !important;
}



