@charset "utf-8";

/* ============================================================ */
/* table */
/* ============================================================ */
.corporate-dashboard__table {
	height: 300px;
}

/* ============================================================ */
/* pagenation */
/* ============================================================ */
.corporate-dashboard__pagenation .pagination__link {
	display: block;
	margin: 0 10px;
	padding: 15px 25px;
	border: 1px solid #B7B7B7;
	background: #FFF;
	box-shadow: 3px 3px 6px 0px rgba(0, 0, 0, 0.30);
	color: #B7B7B7;
	text-align: center;
	line-height: 2;
}

/* ============================================================ */
/* list-needs_table */
/* ============================================================ */
.table-slide.list-needs__table {
	background: #fff;
	height: 370px;
}
.list-needs__table .table .content {
	vertical-align: middle;
}