@charset "utf-8";
/* ============================================================ */
/* .login-form */
/* ============================================================ */
.login-form {
	margin: 0 0 20px;
}

.login-form__table {
	margin: 0 auto;
	max-width: 700px;
}

.login-form__ttl {
	padding: 0 30px 20px 0;
}

.login-form__input {
	padding: 0 0 20px;
}

.login-form__input .form-text {
	min-width: 500px;
}

.al-fc._login_ {
	margin: 0 0 40px;
}

.al-fc._login_ .form-check {
	margin: 0 45px 0 0;
}

.al-fc._login_ .__link {
	margin: 0 20px;
}



/* ============================================================ */
/* .edit-menu */
/* ============================================================ */
.edit-menu {
}

.edit-menu__inner {
	display: flex;
	align-content: stretch;
	justify-content: space-between;
	border-bottom: 1px solid #E7E7E7;
	padding: 35px 0;
}

.edit-menu__inner:first-of-type {
	padding: 0 0 35px;
}

.edit-menu__inner:last-of-type {
	padding: 35px 0 0;
	border-bottom: none;
}

.edit-menu__ttl {
	background: #777;
	color: #fff;
	padding: 15px 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 21%;
}

.edit-menu__detail {
	width: calc(100% - 21%);
	padding: 0 0 0 40px;
}


.edit-btn {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.edit-btn .btn-arrow {
	margin: 0 0 0 10px;
}
