@charset "utf-8";
/* ============================================================ */
/* fixed size btn */
/* ============================================================ */
.btn._w-150_ {
	width: 150px;
	height: 50px;
	max-width: none;
	min-width: auto;
	box-sizing: border-box;
}